<div >
  <div style="margin-top: 0px; display: grid;">
    <h5 class="my-3" style="font-weight: bold;">
      {{'communicationsPrivacy' |translate }}
    </h5>
    <small class="mt-2">
      {{'communicateShare' |translate }}
    </small>
  </div>
  <hr class="my-2">
  <div class="mt-4">
    <div class="border-lightgray" style=" display: flex; justify-content: space-between; padding: 20px;">
      <span> {{'markettigEmail' |translate }}</span>
      <i class="fa fa-plus text-lightgray"></i>
    </div>
    <div class="border-lightgray" style=" display: flex; justify-content: space-between; padding: 20px;">
      <span> {{'marketingMail' |translate }}</span>
      <i class="fa fa-plus text-lightgray"></i>
    </div>
    <div class="border-lightgray" style=" display: flex; justify-content: space-between; padding: 20px;">
      <span>{{'lorem' |translate }}</span>
      <i class="fa fa-plus text-lightgray"></i>
    </div>
    <div class="border-lightgray" style=" display: flex; justify-content: space-between; padding: 20px;">
      <span>{{'storePurchase' |translate }}</span>
      <i class="fa fa-plus text-lightgray"></i>
    </div>
  </div>
</div>
