/* .ontra-form .opt-page-size-tablet .g{
      width: 50% !important;
}
.ontra-form .opt-page-size-tablet .c {
    display: block !important;
}
.ai__form .h .g #f1809 {
    background: #000 !important;
} */