<!-- <ng-template #contactPopup let-modal> -->
    <div class="">
      <!-- <h4 class="modal-title" id="modal-basic-title">Form</h4> -->
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body popup-form">
        <div class="text-center m-3">
            <h3>What's on your mind?</h3>
        <p class="mt-2">Capable of crossing the retinal blood barrier, ASTA-10™ has proven itself to be an amazing nutrient when it comes to protecting, preserving, and enhancing eye health. </p>
        </div>
      <form class="px-3 pb-3">
        <div class="row">
            <div class="col-md-6 mt-2">
                <div class="input-box">
                    <label class="">First Name <span class="text-danger">*</span></label>
                    <input type="text" name="firstName" required="" formcontrolname="firstName"  class="form-input pointer-small" >
                </div>
            </div>
            <div class="col-md-6 mt-2">
                <div class="input-box">
                    <label class="">Last Name <span class="text-danger">*</span></label>
                    <input type="text" name="firstName" required="" formcontrolname="firstName"  class="form-input pointer-small" >
                </div>
            </div>
            <div class="col-md-6 mt-2">
                <div class="input-box">
                    <label class="">Email <span class="text-danger">*</span></label>
                    <input type="text" name="firstName" required="" formcontrolname="firstName"  class="form-input pointer-small" >
                </div>
            </div>
            <div class="col-md-6 mt-2">
                <div class="input-box">
                    <label class="">Phone <span class="text-danger">*</span></label>
                    <input type="text" name="firstName" required="" formcontrolname="firstName"  class="form-input pointer-small" >
                </div>
            </div>
            <div class="col-md-12 mt-2">
                <div class="input-box">
                    <label class="">Message <span class="text-danger">*</span></label>
                    <textarea name="message"  required="" formcontrolname="message" class="form-input pointer-small"></textarea>
                </div>
            </div>
            <div class="twelve-columns text-center">
                <div class="shop-btn mt-3 mb-0">SUBMIT</div>
            </div>
        </div>
        
      </form>
    </div>
    
  <!-- </ng-template> -->