<!-- <meta name="robots" content="index, follow"> -->

<!-- <link rel="canonical" href="https://www.9mmenergy.com" /> -->

<app-header [headerSection]="headerSection" [cartCount]="cartCount"></app-header>
<h1 class="pageTitle-seo">{{pageTitle}}</h1>
<!-- loading start -->

<body class="loader">
    <div class="loading">
        <img class="logo-loading" src="assets/images/HOME/LOGO/logo-loader.png" alt="logo">
    </div>
    <!-- loading end -->

    <!-- animsition-overlay start -->
    <main class="animsition-overlay home-new" data-animsition-overlay="true">
        <!-- home-slider start -->
        <a class="to-top-btn pointer-small" (click)="scroll(up)">
            <span class="to-top-arrow"></span>
        </a>
        <section class="home-slider" id="up" #up>
            <!-- swiper-wrapper start -->
            <div class="swiper-wrapper">
                <!-- swiper-slide start -->
                <div class="swiper-slide flex-min-height-box home-slide">
                    <!-- slide-bg -->
                    <div class="slide-bg overlay-loading2 overlay-dark-bg-1" [style.background-image]="sliderSection?.items[0].bannerimage?.url"></div>
                    <!-- home-slider-content start -->
                    <div class="home-slider-content flex-min-height-inner new-bg-color">
                        <!-- flex-container start -->
                        <div class="container top-bottom-padding-120 flex-container response-999">
                            <!-- column start -->
                            <div class="six-columns six-offset">
                                <div class="content-left-margin-40">
                                    <h2 class="slider-overlay2 medium-title red-color">
                                        {{sliderSection?.items[0]?.content1}}</h2>
                                    <h3 class="large-title-bold text-color-4">
                                        <span class="slider-overlay2 slider-tr-delay01" [attr.data-text]="sliderSection?.items[0]?.content2">{{sliderSection?.items[0]?.content2}}</span><br>
                                    </h3>
                                    <p class="text-height-20  text-color-4  d-flex-wrap slide-content fullwidth-text">
                                        <span class="slider-overlay2 slider-tr-delay01 banner-3text" [attr.data-text]="sliderSection?.items[0]?.content3">{{sliderSection?.items[0]?.content3}}</span>
                                    </p>
                                    <div class="slider-fade slider-tr-delay07 top-margin-30">
                                        <div class="border-btn-box border-btn-red pointer-large">
                                            <div class="border-btn-inner">
                                                <a class="border-btn" [attr.data-text]="'shopNow' | translate" (click)="gotoShop()">{{ 'shopNow' | translate }}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- column end -->
                        </div>
                        <!-- flex-container end -->
                    </div>
                    <!-- home-slider-content end -->
                </div>
                <!-- swiper-slide end -->
                <!-- swiper-slide start -->
                <div class="swiper-slide flex-min-height-box home-slide">
                    <!-- slide-bg -->
                    <div class="slide-bg overlay-loading2 overlay-dark-bg-1" [style.background-image]="'url('+sliderSection?.items[1]?.bannerimage?.url+')'"></div>
                    <!-- home-slider-content start -->
                    <div class="home-slider-content flex-min-height-inner new-bg-color ">
                        <!-- flex-container start -->
                        <div class="container top-bottom-padding-120 flex-container response-999">
                            <!-- column start -->
                            <div class="six-columns six-offset">
                                <div class="content-left-margin-40">
                                    <h2 class="slider-overlay2 medium-title red-color">
                                        {{sliderSection?.items[1]?.content1}}</h2>
                                    <h3 class="large-title-bold text-color-4">
                                        <span class="slider-overlay2 slider-tr-delay01" [attr.data-text]="sliderSection?.items[1].content2">{{sliderSection?.items[1]?.content2}}</span>
                                    </h3>
                                    <p class="text-height-20  text-color-4  d-flex-wrap slide-content fullwidth-text">
                                        <span class="slider-overlay2 slider-tr-delay01 banner-3text" [attr.data-text]="sliderSection?.items[1]?.content3">{{sliderSection?.items[1]?.content3}}</span>
                                    </p>
                                    <div class="slider-fade slider-tr-delay07 top-margin-30">
                                        <div class="border-btn-box border-btn-red pointer-large">
                                            <div class="border-btn-inner">
                                                <a class="border-btn" [attr.data-text]="'shopNow' | translate" (click)="gotoShop()">{{ 'shopNow' | translate }}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- column end -->
                        </div>
                        <!-- flex-container end -->
                    </div>
                    <!-- home-slider-content end -->
                </div>
                <!-- swiper-slide end -->
                <!-- swiper-slide start -->
                <div class="swiper-slide flex-min-height-box home-slide red-slide">
                    <!-- slide-bg -->
                    <div class="slide-bg overlay-loading2 overlay-dark-bg-1" [style.background-image]="'url('+sliderSection?.items[2]?.bannerimage?.url+')'"></div>
                    <!-- home-slider-content start -->
                    <div class="home-slider-content flex-min-height-inner new-bg-color">
                        <!-- flex-container start -->
                        <div class="container top-bottom-padding-120 flex-container response-999 custom-left">
                            <!-- column start -->
                            <div class="six-columns">
                                <div class="">
                                    <h2 class="slider-overlay2 medium-title red-color ">{{sliderSection?.items[2]?.content1}}
                                    </h2>
                                    <h3 class="large-title-bold text-color-4 ">
                                        <span class="slider-overlay2 slider-tr-delay01" [attr.data-text]="sliderSection?.items[2]?.content2">{{sliderSection?.items[2]?.content2}}</span>
                                    </h3>
                                    <p class="text-height-20  text-color-4  d-flex-wrap slide-content fullwidth-text">
                                        <span class="slider-overlay2 slider-tr-delay01 banner-3text" [attr.data-text]="sliderSection?.items[2]?.content3">{{sliderSection?.items[2]?.content3}}</span>
                                    </p>
                                    <div class="slider-fade slider-tr-delay07 top-margin-30">
                                        <div class="border-btn-box border-btn-red pointer-large">
                                            <div class="border-btn-inner">
                                                <a class="border-btn" [attr.data-text]="'shopNow' | translate" (click)="gotoShop()">{{ 'shopNow' | translate }}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- column end -->
                        </div>
                        <!-- flex-container end -->
                    </div>
                    <!-- home-slider-content end -->
                </div>
                <!-- swiper-slide end -->
            </div>
            <!-- swiper-wrapper end -->

            <!-- swiper-button-next start -->
            <div class="swiper-button-next">
                <div class="slider-arrow-next-box">
                    <span class="slider-arrow-next"></span>
                </div>
            </div>
            <!-- swiper-button-next end -->
            <!-- swiper-button-prev start -->
            <div class="swiper-button-prev">
                <div class="slider-arrow-prev-box">
                    <span class="slider-arrow-prev"></span>
                </div>
            </div>
            <!-- swiper-button-prev end -->

            <!-- swiper-pagination -->
            <div class="swiper-pagination"></div>

            <!-- scroll-btn start -->
            <a (click)="scroll(down)" class="scroll-btn pointer-large">
                <div class="scroll-arrow-box">
                    <span class="scroll-arrow"></span>
                </div>
                <div class="scroll-btn-flip-box">
                    <span class="scroll-btn-flip" [attr.data-text]="'scroll' | translate">{{'scroll' | translate}}</span>
                </div>
            </a>
            <!-- scroll-btn end -->
        </section>
        <!-- home-slider end -->
        <!-- logo-slider -->
        <section id="down" #down class="dark-bg-1 flex-min-height-box">
            <div class="container-fluid">
                <div class="row py-4">
                    <div class="col-nd-2" *ngFor="let item of sportsIcon?.items">
                        <img class="logo-slider-new" [src]="item?.image?.url" [alt]="item?.image?.alt ||''" >
                    </div>
                </div>
            </div>
        </section>
        <!-- logo-slider end -->
        <!-- video-content-bg start -->
			<div class="video-content-bg-new" style="background-image:url({{videoSection1?.primary?.image_2?.url}})">
				<div class="bg-overlay"></div>
				<a (click)="playVideo(videoSection1?.primary?.video_url?.url)" class="video-play-button popup-youtube pointer-large">
					<span></span>
				</a>
                <div class="col-md-4 video-box">
                    <img class="video-logo" [src]="videoSection1?.primary?.image_1?.url" [alt]="videoSection1?.primary?.image_1?.alt ||''">
                    <ng-container *ngFor="let item of videoSection1?.primary?.content">
                    <p class="video-text" *ngIf="item?.type == 'paragraph'">{{item?.text}}</p>
                    </ng-container>
                    <div class="border-btn-box border-btn-red pointer-large mt-3">
                        <div class="border-btn-inner"><a (click)="gotoShop()" [attr.data-text]="'shopNow' | translate"  class="border-btn">{{'shopNow' | translate}}</a></div>
                    </div>
                </div>
			</div>
        <!-- video-content-bg end -->
        <!-- Product section -->
        <section data-animation-container class="dark-bg-1 folk-section pb-5">
            <!-- container start -->
            <div class="container top-bottom-padding-70">
                <!-- medium-title start -->
                <div class="text-center small">
                    <h2 data-animation-child class="large-title new text-color-1 overlay-anim-box2" data-animation="overlay-anim2">{{productSection?.primary?.title}}</h2><br>
                    <p data-animation-child class="fade-anim-box tr-delay02 text-white medium-title-oswald top-margin-5" data-animation="fade-anim">{{productSection?.primary?.content}}</p>
                </div>
            </div>
                <!-- <div class="row">
                    <div class="col-md-4 mb-5 text-center" *ngFor="let item of productSection?.items">
                        <img class="product-img" [src]="item?.image?.url" alt="item?.image?.alt ||''">
                        <div class="border-btn-box border-btn-red pointer-large mt-3">
                            <div class="border-btn-inner"><a [attr.data-text]="'shopNow' | translate"  class="border-btn">{{'shopNow' | translate}}</a></div>
                        </div>
                    </div>
                </div> -->
                <section id="down" #down class="dark-bg-1">
                    <div class="mx-3">
                        <div *ngIf="empty" style="color: antiquewhite;text-align: center;">{{'comingZoon' | translate}}</div>
                        <div class="row mx-md-5 px-md-5 d-flex justify-content-center">
                            <div class="col-lg-4 top-padding-75 pointer-large" *ngFor="let item of products  | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; let i=index">
                                <div class="product-back" [ngClass]="getProductClass(i)" (click)="onClickProduct(item)">
                                    <div class="total-hover">
                                        <div class="img-hover">
                                            <img class="product-img" [src]="item?.image?.src" [alt]="(item?.image?.alt)?item.image.alt:''" (click)="onClickProduct(item)">
                                        </div>
                                        <div class="details text-center">
                                            <p class="d-flex flex-column margin-seven mt-0">
                                                <span class="title1-shop mt-5">{{item?.title}}</span>
                                                <span class="title2-shop font-small">{{item?.variants[0]?.title}}</span>
                                                <span class="title3-shop mb-3 p-1">${{item?.variants[0]?.price}}</span>
                                            </p>
                                        </div>
                                        <div class="details-hover text-center">
                                            <div class="d-flex flex-column">
                                                <span class="title1-shop-hover mt-5">{{item?.title}}</span>
                                                <span class="title2-shop-hover font-small">{{item?.variants[0]?.title}}</span>
                                                <div class="d-flex p-1 mb-2">
                                                    <span class="title3-shop-hover flex-shop-90">${{item?.variants[0]?.price}}</span>
                                                    <ul class="ml-auto flex-shop-10 cart-click cart-hover">
                                                        <li class="d-none"><a (click)="onClickProduct(item)" class="hover-color  " style="cursor: pointer;"><i class="fas fa-eye p-0"></i></a></li>
                                                        <li class="hover-color cart-hover">
                                                            <a (click)="onClickCart(item, $event)" class="cart-hover"><img class="cartImg" src="assets/images/HOME/icons/add-cart.svg" alt="cart"></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center" *ngIf="products?.length > 6">
                            <div class="border-btn-box border-btn-red pointer-large mt-3">
                                <div class="border-btn-inner">
                                    <ngb-pagination [collectionSize]="products?.length" [(page)]="page" [pageSize]="pageSize" [maxSize]="5" [rotate]="true"></ngb-pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
        </section>    
        <!-- product section end -->
        <!-- section start -->
        <section class="dark-bg-1 flex-min-height-box">
            <div class="container-fluid">
                <div class="full-height">
                    <div class="row">
                        <div class="col-lg-12 p-0">
                            <div class="twelve-columns text-center">
                                <div class="twelve-columns text-center">
                                    <img [src]="creativeSection?.primary?.image?.url" [alt]="creativeSection?.primary?.image?.alt ||''">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- section end -->
        <section data-animation-container class="dark-bg-1 folk-section">
            <!-- container start -->
            <div class="container top-bottom-padding-20">
                <!-- medium-title start -->
                <div class="text-center small">
                    <h2 data-animation-child class="large-title new text-color-1 overlay-anim-box2" data-animation="overlay-anim2">{{mmaEvents?.primary?.title}}</h2><br>
                    <p data-animation-child class="fade-anim-box tr-delay02 text-white medium-title-oswald top-margin-5" data-animation="fade-anim">{{mmaEvents?.primary?.subtitle}}</p>
                </div>
            </div>
            <!-- container end -->
            <div class="row">
                <div class="col-md-6 p-0" *ngFor="let item of mmaEvents?.items; let i=index">
                    <div [ngClass]="[i == 0 ? 'top-logo-1' :'', i==1 ? 'top-logo-2' :'']">
                        <img [src]="item?.sports_logo?.url" [alt]="item?.sports_logo?.alt || ''">
                    </div>
                    <div class="box-img">
                        <img [src]="item?.image?.url" [alt]="item?.image?.url ||''">
                        <div class="hover-team" tabindex="0"><ul class="social-team"></ul><h3>{{item?.name}}</h3>
                        <span>{{item?.description}}</span></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- section start -->
        <section class="dark-bg-2">
            <!-- container start -->
            <div class="container small top-bottom-padding-120">
                <!-- medium-title start -->
                <div data-animation-container class="text-center">
                    <h2 data-animation-child class="large-title-oswald red-color overlay-anim-box2" data-animation="overlay-anim2">{{folksSection?.primary?.content1}}</h2>
                </div>
                <!-- medium-title end -->
                <!-- client-list start -->
                <ul class="client-list d-flex-wrap top-padding-60">
                    <li *ngFor="let item of folksSection?.items">
                        <a class="pointer-large dblock">
                            <div class="brand-box" tabindex="0">
                                <img [src]="item?.image1?.url" [alt]="(item?.image1?.alt)?item.image1.alt:''" class="hover-opac-img" tabindex="0">
                                <!-- <img *ngIf="item?.json.url==null" [src]="item?.image2?.url" [alt]="item?.image2?.alt" class="opac-img"> -->
                                <lottie-player class="opac-img" *ngIf="item?.json?.url!=null" autoplay loop mode="normal" [src]="item?.json?.url"></lottie-player>
                            </div>
                        </a>
                    </li>

                </ul>
                <!-- client-list end -->
            </div>
            <!-- container end -->
        </section>
        <!-- section end -->

        <div class="text-center top-bottom-padding-120 black-bg">
            <!-- testimonials-slider start -->
            <div class="testimonials-slider container small">
                <!-- swiper-wrapper start -->
                <div class="swiper-wrapper">
                    <!-- slide start -->
                    <div class="swiper-slide text-center">
                        <img [src]="testimonialSection?.items[0]?.image?.url" [alt]="(testimonialSection?.items[0]?.image?.alt)?testimonialSection.items[0].image.alt:''">
                        <div class="testimonials-content">
                            <p class="text-color-4 p-style-bold">{{testimonialSection?.items[0]?.content}}</p>
                        </div>
                        <div class="text-color-5 small-title-oswald">
                            {{testimonialSection?.items[0]?.name}} <span class="text-color-4">{{testimonialSection?.items[0]?.role}}</span>
                        </div>
                    </div>
                    <div class="swiper-slide text-center">
                        <img [src]="testimonialSection?.items[1]?.image?.url" [alt]="(testimonialSection?.items[1]?.image?.alt)?testimonialSection.items[1].image.alt:''">
                        <div class="testimonials-content">
                            <p class="text-color-4 p-style-bold">{{testimonialSection?.items[1]?.content}}</p>
                        </div>
                        <div class="text-color-5 small-title-oswald">
                            {{testimonialSection?.items[1]?.name}} <span class="text-color-4">{{testimonialSection?.items[1]?.role}}</span>
                        </div>
                    </div>
                    <div class="swiper-slide text-center">
                        <img [src]="testimonialSection?.items[2]?.image?.url" [alt]="(testimonialSection?.items[2]?.image?.alt)?testimonialSection.items[2].image.alt:''">
                        <div class="testimonials-content">
                            <p class="text-color-4 p-style-bold">{{testimonialSection?.items[2]?.content}}</p>
                        </div>
                        <div class="text-color-5 small-title-oswald">
                            {{testimonialSection?.items[2]?.name}} <span class="text-color-4">{{testimonialSection?.items[2]?.role}}</span>
                        </div>
                    </div>
                    <!-- slide end -->
                </div>
                <!-- swiper-wrapper end -->
                <!-- swiper-pagination -->
                <div class="swiper-pagination"></div>
            </div>
            <!-- testimonials-slider end -->
        </div>
            <div class="row black-bg">
                <div class="col-lg-12" (click)="playVideo(video2Section?.primary?.video_url?.url)">
                    <img [src]="video2Section?.primary?.image?.url" [alt]="(video2Section?.primary?.image?.alt)?video2Section.primary.image.alt:''">
                    <a class="video-play-button popup-youtube pointer-large">
                        <span></span>
                    </a>
                </div>
            </div>
        <!-- section end -->
        <section data-animation-container class="dark-bg-1 folk-section">
            <!-- container start -->
            <div class="container top-bottom-padding-20">
                <!-- medium-title start -->
                <div class="text-center small">
                    <h2 data-animation-child class="large-title new text-color-1 overlay-anim-box2" data-animation="overlay-anim2">{{motorcycleSportsSection?.items[0]?.title}}</h2><br>
                    <p data-animation-child class="fade-anim-box tr-delay02 text-white medium-title-oswald top-margin-5" data-animation="fade-anim">{{motorcycleSportsSection?.items[0]?.subtitle}}</p>
                </div>
            </div>
            <!-- container end -->
            <div class="row">
                <div class="col-md-6 p-0">
                    <div class="top-logo-3">
                        <img [src]="motorcycleSportsSection?.items[0]?.sports_logo?.url" [alt]="motorcycleSportsSection?.items[0]?.sports_logo?.alt ||''">
                    </div>
                    <div class="box-img">
                        <img [src]="motorcycleSportsSection?.items[0]?.image?.url" [alt]="motorcycleSportsSection?.items[0]?.image?.alt ||''">
                        <div class="hover-team" tabindex="0"><ul class="social-team"></ul><h3>{{motorcycleSportsSection?.items[0]?.name}}</h3>
                            <span>{{motorcycleSportsSection?.items[0]?.description}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 p-0">
                    <div class="top-logo-4">
                        <img [src]="motorcycleSportsSection?.items[1]?.sports_logo?.url" [alt]="motorcycleSportsSection?.items[1]?.sports_logo?.alt ||''">
                    </div>
                    <div class="box-img">
                        <img [src]="motorcycleSportsSection?.items[1]?.image?.url" [alt]="motorcycleSportsSection?.items[1]?.image?.alt ||''">
                        <div class="hover-team" tabindex="0"><ul class="social-team"></ul><h3>{{motorcycleSportsSection?.items[1]?.name}}</h3>
                            <span>{{motorcycleSportsSection?.items[1]?.description}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- section start -->
        <!-- section end -->
        <section data-animation-container class="dark-bg-1 folk-section">
            <!-- container start -->
            <div class="container top-bottom-padding-20">
                <!-- medium-title start -->
                <div class="text-center small">
                    <h2 data-animation-child class="large-title new text-color-1 overlay-anim-box2" data-animation="overlay-anim2">{{motorcycleSportsSection?.items[2]?.title}}</h2><br>
                    <p data-animation-child class="fade-anim-box tr-delay02 text-white medium-title-oswald top-margin-5" data-animation="fade-anim">{{motorcycleSportsSection?.items[2]?.subtitle}}</p>
                </div>
            </div>
            <!-- container end -->
            <div class="row">
                <div class="col-md-6 p-0">
                    <div class="top-logo-3">
                        <img [src]="motorcycleSportsSection?.items[2]?.sports_logo?.url" [alt]="motorcycleSportsSection?.items[2]?.sports_logo?.alt ||''">
                    </div>
                    <div class="box-img">
                        <img [src]="motorcycleSportsSection?.items[2]?.image?.url" [alt]="motorcycleSportsSection?.items[2]?.image?.alt ||''">
                        <div class="hover-team" tabindex="0"><ul class="social-team"></ul><h3>{{motorcycleSportsSection?.items[2]?.name}}</h3>
                            <span>{{motorcycleSportsSection?.items[2]?.description}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 p-0">
                    <div class="top-logo-4">
                        <img [src]="motorcycleSportsSection?.items[3]?.sports_logo?.url" [alt]="motorcycleSportsSection?.items[3]?.sports_logo?.alt ||''">
                    </div>
                    <div class="box-img">
                        <img [src]="motorcycleSportsSection?.items[3]?.image?.url" [alt]="motorcycleSportsSection?.items[3]?.image?.alt ||''">
                        <div class="hover-team" tabindex="0"><ul class="social-team"></ul><h3>{{motorcycleSportsSection?.items[3]?.name}}</h3>
                            <span>{{motorcycleSportsSection?.items[3]?.description}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- section start -->
        <!-- latest-news start -->
        <section class="latest-news top-padding-20 black-bg">
            <!-- container start -->
            <div class="container">
                <!-- text-center start -->
                <div data-animation-container class="text-center">
                    <h2 data-animation-child class="large-title text-height-10 text-color-1 overlay-anim-box2 text-center d-block" data-animation="overlay-anim2">{{blogSection?.primary?.title}}</h2><br>
                    <p data-animation-child class="fade-anim-box tr-delay02 text-white medium-title-oswald top-margin-5" data-animation="fade-anim">{{blogSection?.primary?.subtitle}}</p>
                </div>
                <!-- text-center end -->

                <!-- flex-container start -->
                <div [ngStyle]="{'display': blogSection?.items?.length>0 ? 'block' : 'none'}" class="flex-container response-999 top-padding-20">
                    <div class="row">
                        <div class="col-lg-4 bottom-padding-20">
                            <article class="content-right-margin-20 light-bg-2" data-animation-container>
                                <a (click)="onClickBlog(blogSection?.items[0])" class="pointer-large animsition-link hover-box dblock">
                                    <div class="overlay-anim-box2 overlay-dark-bg-2" data-animation="overlay-anim2">
                                        <img class="hover-img" [src]="blogSection?.items[0]?.data?.image?.url" [alt]="(blogSection?.items[0]?.data?.image?.alt)?blogSection.items[0].data.image.alt:''">
                                    </div>
                                    <h3 class="medium-text text-color-1 top-margin-30 blog-title content-padding-l-r-20">
                                        <span data-animation-child class="overlay-anim-box2 hover-content overlay-dark-bg-2 tr-delay01 cat-title-ellipsis pb-2" data-animation="overlay-anim2">{{blogSection?.items[0]?.data?.title}}</span>
                                    </h3>
                                </a>
                                <div class="content-padding-bottom-20 content-padding-l-r-20">
                                    <ul data-animation-child [ngClass]="{'d-block':blogSection?.items[0]?.pin!=null}" class="d-none blog-category top-margin-30 fade-anim-box tr-delay04 text-color-2" data-animation="fade-anim">
                                        <li><i class="fas fa-thumbtack text-color-3"></i></li>
                                        <li class="p-letter-style pointer-small hover-color"><a>{{blogSection?.items[0]?.pin}}</a></li>
                                    </ul>
                                    <ul data-animation-child class="blog-tags top-margin-10 fade-anim-box tr-delay05 text-color-2" data-animation="fade-anim">
                                        <li><i class="fas fa-tags text-color-3"></i></li>
                                        <li class="p-letter-style pointer-small hover-color"><a>{{blogSection?.items[0]?.data?.tag}}</a></li>
                                    </ul>
                                    <div data-animation-child class="blog-autor-date top-margin-30 fade-anim-box tr-delay06 text-color-1" data-animation="fade-anim">
                                        <a class="xsmall-title-oswald pointer-small hover-color">{{blogSection?.items[0]?.data?.author_name}}</a>
                                        <a class="xsmall-title-oswald pointer-small hover-color">{{blogSection?.items[0]?.data?.date}}</a>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-lg-4 bottom-padding-20" [class]="(blogSection?.items[1]!=null)?'d-block':'d-none'">
                            <article class="content-right-margin-20 light-bg-2" data-animation-container>
                                <a (click)="onClickBlog(blogSection?.items[1])" class="pointer-large animsition-link hover-box dblock">
                                    <div class="overlay-anim-box2 overlay-dark-bg-2" data-animation="overlay-anim2">
                                        <img class="hover-img" [src]="blogSection?.items[1]?.data?.image?.url" [alt]="(blogSection?.items[1]?.data?.image?.alt)?blogSection.items[1].data.image.alt:''">
                                    </div>
                                    <h3 class="medium-text text-color-1 top-margin-30 blog-title content-padding-l-r-20">
                                        <span data-animation-child class="overlay-anim-box2 hover-content overlay-dark-bg-2 tr-delay01 cat-title-ellipsis pb-2" data-animation="overlay-anim2">{{blogSection?.items[1]?.data?.title}}</span>
                                    </h3>
                                </a>
                                <div class="content-padding-bottom-20 content-padding-l-r-20">
                                    <ul data-animation-child [ngClass]="{'d-block':blogSection?.items[1]?.pin!=null}" class="d-none blog-category top-margin-30 fade-anim-box tr-delay04 text-color-2" data-animation="fade-anim">
                                        <li><i class="fas fa-thumbtack text-color-3"></i></li>
                                        <li class="p-letter-style pointer-small hover-color"><a>{{blogSection?.items[1]?.pin}}</a></li>
                                    </ul>
                                    <ul data-animation-child class="blog-tags top-margin-10 fade-anim-box tr-delay05 text-color-2" data-animation="fade-anim">
                                        <li><i class="fas fa-tags text-color-3"></i></li>
                                        <li class="p-letter-style pointer-small hover-color"><a>{{blogSection?.items[1]?.data?.tag}}</a></li>
                                    </ul>
                                    <div data-animation-child class="blog-autor-date top-margin-30 fade-anim-box tr-delay06 text-color-1" data-animation="fade-anim">
                                        <a class="xsmall-title-oswald pointer-small hover-color">{{blogSection?.items[1]?.data?.author_name}}</a>
                                        <a class="xsmall-title-oswald pointer-small hover-color">{{blogSection?.items[1]?.data?.date}}</a>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-lg-4 bottom-padding-20" [class]="(blogSection?.items[2]!=null)?'d-block':'d-none'">
                            <article class="content-right-margin-20 light-bg-2" data-animation-container>
                                <a (click)="onClickBlog(blogSection?.items[2])" class="pointer-large animsition-link hover-box dblock">
                                    <div class="overlay-anim-box2 overlay-dark-bg-2" data-animation="overlay-anim2">
                                        <img class="hover-img" [src]="blogSection?.items[2]?.data?.image?.url" [alt]="(blogSection?.items[2]?.data?.image?.alt)?blogSection.items[2].data.image.alt:''">
                                    </div>
                                    <h3 class="medium-text text-color-1 top-margin-30 blog-title content-padding-l-r-20">
                                        <span data-animation-child class="overlay-anim-box2 hover-content overlay-dark-bg-2 tr-delay01 cat-title-ellipsis pb-2" data-animation="overlay-anim2">{{blogSection?.items[2]?.data?.title}}</span>
                                    </h3>
                                </a>
                                <div class="content-padding-bottom-20 content-padding-l-r-20">
                                    <ul data-animation-child [ngClass]="{'d-block':blogSection?.items[2]?.pin!=null}" class="d-none blog-category top-margin-30 fade-anim-box tr-delay04 text-color-2" data-animation="fade-anim">
                                        <li><i class="fas fa-thumbtack text-color-3"></i></li>
                                        <li class="p-letter-style pointer-small hover-color"><a>{{blogSection?.items[2]?.pin}}</a></li>
                                    </ul>
                                    <ul data-animation-child class="blog-tags top-margin-10 fade-anim-box tr-delay05 text-color-2" data-animation="fade-anim">
                                        <li><i class="fas fa-tags text-color-3"></i></li>
                                        <li class="p-letter-style pointer-small hover-color"><a>{{blogSection?.items[2]?.data?.tag}}</a></li>
                                    </ul>
                                    <div data-animation-child class="blog-autor-date top-margin-30 fade-anim-box tr-delay06 text-color-1" data-animation="fade-anim">
                                        <a class="xsmall-title-oswald pointer-small hover-color">{{blogSection?.items[2]?.data?.author_name}}</a>
                                        <a class="xsmall-title-oswald pointer-small hover-color">{{blogSection?.items[2]?.data?.date}}</a>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>


                </div>
                <!-- flex-container end -->
            </div>
            <!-- container end -->
        </section>
        <!-- latest-news end -->
        <section data-animation-container class="dark-bg-2 folk-section">
            <!-- container start -->
            <div class="container top-bottom-padding-120" [ngClass]="(socialProofSection?.items?.length>0) ? 'd-block': 'd-none'">
                <!-- medium-title start -->
                <div class="text-center small">
                    <h2 data-animation-child class="large-title text-height-10 text-color-1 overlay-anim-box2" data-animation="overlay-anim2">{{socialProofSection?.primary?.title1}}</h2><br>
                    <p data-animation-child class="fade-anim-box tr-delay02 text-white medium-title-oswald top-margin-5" data-animation="fade-anim">{{socialProofSection?.primary?.title2}}</p>
                </div>
                <!-- medium-title end -->

                <!-- client-list start -->
                <ul class="client-list  d-flex justify-content-around top-padding-60 pl-5">
                    <li *ngFor="let item of socialProofSection?.items ">
                        <a class="dblock" style="display: block;">
                            <div class=" ">
                                <img [src]="item?.image?.url" [alt]="(item?.image?.alt)?item.image.alt:''" class="hover-img">
                            </div>
                        </a>
                    </li>
                </ul>
                <!-- client-list end -->
            </div>
            <!-- container end -->
        </section>
    </main>
    <!-- animsition-overlay end -->
    <app-footer [footerSection]="footerSection" [headerSection]="headerSection"></app-footer>
</body>
